 * {
   margin: 0;
   padding: 0;
 }

 body {
   display: flex;
   justify-content: center;
 }

 
/*Hover effect on dark/light mode buttons*/
 :hover.settings-button-section{
  border-radius: 11px ;
  box-shadow: 0 0 10px 1px #da7685;
  border: 1px solid #da7685;
}
/*Hover effect on settings button*/
:hover#settings-button{
  background-color: rgb(224, 224, 224);
  transition: 0.3s ease;
  transform: translate3d(0,0,10px);
  z-index: 1;  
}

#top-site-heading{
  margin-top: 20px;
}

/*Dark mode button*/
.darkmode{
  width: 130px;
  height:102px;
  border:none;
  position:absolute;
  background-color: unset;
  cursor: pointer;
  stroke-dasharray: 150 480;
  stroke-dashoffset: 150;
}

.goog-te-combo{
  cursor: pointer;
}
/*error text*/
 .error {
   margin-top: 20px;
   margin-left: 20px;
 }
/*wrapper around the logo, search bar and the recent visited sets on the home page*/
 .wrapper2 {
  display: flex;
   margin-top: 400px;
   display: grid;
   grid-template-columns: auto;
   padding: 10px;
   align-items: center;
   z-index: 0;
   justify-content: center;
 }


 /*search bar, also making it stay when you scroll*/
 .grid-item {
   align-items: center;
   position: -webkit-sticky;
   position: sticky;
   top: 10px;
 }

 .help-icon {
   padding-right: 24px;
 }


 .search-icon {
   padding-left: 24px;
 }

 #search-bar {
   padding: 0;
   margin: 0;
   width: 970px;
   margin-top: 50px;
   margin-left: auto;
   margin-right: auto;
 }

 /*search bar*/
 .form {
   width: 970px;
   height: 70px;
   background-color: rgb(255, 255, 255);
   box-shadow: 0px 3px 15px 1px rgba(0, 0, 0, 0.07);
   border-radius: 50px;
   border: 1px;
   display: flex;
   justify-content: space-between;
   align-items: center;
 }
/*searcg bar input*/
 .search {
   width: 100%;
   height: 50px;
   border: 0px;
   padding-top: 2px;
   padding-bottom: 2px;
   padding-left: 20px;
   outline: none;
   font-size: 25px;
 }

 /*parts list container, grid, sorting out how it should look*/
 .parts-list-container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 22px;
}

.show-set-page-wrapper{
  width: 978px;
}

/*headers, "chosen set", "parts list"*/
.parts-section-header{
  display: flex;
  justify-content: flex-start;
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 700;
  display: flex;
  align-items: center;
  color: #575757;
}

.parts-icon{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}

.parts-section{
  width: 100%;
}

.set-section{
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

/*set title*/
.set-section-title-second{
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 700;
  font-size: 47px;
  line-height: 64px;
  color: #575757;
  display: none;
}


/*wrapper around set title*/
.set-section-title{
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 700;
  font-size: 47px;
  line-height: 64px;
  color: #575757;
  margin-bottom: 20px;
}
/*info about the set*/
.set-section-info{
  width: 520px;
  height: 172px;
  display: flex;
}

.set-section-info-cards{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 100%;
}

#set-section-info-date{
  border-left: solid 2px #BDBDBD;
  border-right: solid 2px #BDBDBD;
}

.set-section-info-cards-big-text{
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 38px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #262626;
}

.set-section-info-cards-small-text{
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #818181;
}

.set-section-info-wrapper{
  max-width: 520px;
  margin-left: 54px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.set-section-image-wrapper{
  width: 385px;
  max-height: 500px;
  background: #FFFFFF;
  box-shadow: 0px 3px 15px 1px rgba(0, 0, 0, 0.07);
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

img.set-section-image{
  width: 90%;
}

/*break line between set and parts*/
.parts-break-line{
  margin-bottom: 22px;
  margin-top: 18px;
  height: 2px;
  width: 100%;
  background: #BDBDBD;
}
/*info about a specific piece*/
.part-card {
  font-size: 11px;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background: #FFFFFF;
  box-shadow: 0px 3px 15px 1px rgba(0, 0, 0, 0.07);
  border-radius: 7px;
}

.part-card-top{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 136px;
  border-bottom: 2px solid #F4F7FE;
}

img.card-part-img{
  width: 120px;
  height: 90px;
}

.part-card-bottom{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-part-name{
  margin: 10px;
  font-size: 20px;
  font-weight: bold;
}

h3.card-part-name{
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: #262626;
}

p.card-part-itemid{
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  color: #818181;
}

p.card-part-quantity{
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 29px;
  color: #D62D46;
}

.part-card-bottom-content{
  display: flex;
  justify-content: space-between;
  margin: 0px 10px 10px 10px;
}


/*responsivity*/
@media (max-width: 1550px) {
  .logo {
      display: block;
      margin: 0;
      z-index: 10;
      position: static;
  }

  .top-section {
    position: static;
    display: flex;
    justify-content: space-between ;
    width: 970px;
    height: 100px;
    margin-top: 20px;
    align-items: center;
  }

  .for-responsive{
    height: 100px;
    width: 970px;
    display: flex;
    justify-content: space-between ;
    align-items: center;
    }

    body {
      margin: 0;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
    }

    .dropdown-wrapper {
      margin-top: 0px;
    }

}


 @media (max-width: 1050px) {

  .for-responsive{
    width: 700px;
  }

  .top-section {
    width: 700px;
  }

  .set-section-title{
    font-size: 44px;
  }

  .set-section-info-cards-big-text{
    font-size: 26px;
  }

  .set-section-info-cards-small-text{
    font-size: 16px;
  }

  .set-section-info{
    width: 420px;
    height: 139px;
  }

  .set-section-info-cards-icons{
    width: 25px;
  }

  .parts-list-container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 22px;
  }

  .part-card {
    width:100%;
  }

  .show-set-page-wrapper{
    width: 700px;
  }

    .item {
    margin-left: -2px;
    }

   .items_text {
     margin-left: 20px;
   }

   .item_text {
     width: 150px;
   }

   .sort_contents {
     margin-left: 120px;
   }

   .sort_content {
     width: 150px;
   }

   .form {
     width: 700px;
   }

   #search-bar {
     width: 700px;
     margin-left: auto;
     margin-right: auto;
   }
 }

 @media (max-width: 800px) {

  .for-responsive{
    width: 560px;
  }

  .top-section {
    width: 560px;
  }

  .set-section{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 22px;
    margin-bottom: 20px;
  }

  .set-section-info-wrapper{
    margin-left: 0px;
    display: block;
    grid-column-start: 2;
    grid-row-start: 2;
    grid-row-end: 2;
  }

  .set-section-image-wrapper{
    width: 400px;
    height: 100%;
    grid-column-start: 1;
    grid-row-start: 2;
    grid-row-end: 2;
  }
  
  .set-section-title-second{
    display: block;
    grid-column-start: 1;
    grid-column-end: span 2;
    grid-row-start: 1;
    grid-row-end: 1;
  }

  .set-section-info{
    height: 420px;
    width: 139px;
    flex-direction: column;
  }

  #set-section-info-date{
    border-top: solid 2px #BDBDBD;
    border-bottom: solid 2px #BDBDBD;
    border-left: none;
    border-right: none;
  }

  .set-section-title{
  display: none;
  }

  .parts-list-container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 22px;
  }

  .show-set-page-wrapper{
    width: 560px;
  }

   .items_text {
     margin-left: 20px;
   }

   .item_text {
     width: 100px;
   }

   .sort_content {
     width: 100px;
   }

   .form {
     width: 560px;
   }

   #search-bar {
     width: 560px;
     margin-left: auto;
     margin-right: auto;
   }
 }

 @media (max-width: 630px) {

  .dropdown-content {
    right: 1px;
  }
  

  .for-responsive{
    width: 80%;
  }

  .top-section {
    width: 100%;
  }

  .set-section{
    display: grid;
    grid-template-columns: 1fr;
    gap: 22px;
    column-gap: 0px;
    margin-bottom: 20px;
  }

  .set-section-info-wrapper{
    margin-left: 0px;
    display: flex;
    grid-column-start: 1;
    grid-row-start: 3;
    grid-row-end: 3;
  }

  .set-section-info{
    display: flex;
    flex-direction: row;
    width: 489px;
    height: 162px;
  }

  #set-section-info-date{
    border-left: solid 2px #BDBDBD;
    border-right: solid 2px #BDBDBD;
    border-top: none;
    border-bottom: none;
  }

  .set-section-image-wrapper{
    width: 100%;
    height: 100%;
    grid-column-start: 1;
    grid-row-start: 2;
    grid-row-end: 2;
  }
  
  img.set-section-image{
    margin-top: 20px;
    margin-bottom: 20px;
    width: 80%;
  }

  .show-set-page-wrapper{
    width: 495.19px;
  }

   .item_arrow {
     display: none;
   }

   .items_text {
     margin-left: 20px;
   }

   .item_text {
     width: 100px;
   }

   .sort_content {
     width: 100px;
   }

   .form {
     width: 80vw;
   }

   #search-bar {
     width: 80vw;
     margin-left: auto;
     margin-right: auto;
   }
 }

 @media (max-width: 550px) {

  .set-section-title-second{
    font-weight: 700;
    font-size: 40px;
    line-height: 64px;
  }

  .set-section-info-cards-big-text{
    font-weight: 600;
    font-size: 24px;
    line-height: 38px;
  }
  
  .set-section-info-cards-small-text{
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
  }

  .set-section-info{
    width: 100%;
    height: 120px;
  }

  .show-set-page-wrapper{
    width: 80vw;
  }

  .parts-list-container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 22px;
  }

   .scroll {
     top: 0px;
   }

   .form {
     height: 50px;
     width: 80vw;
   }

   .search {
     height: 40px;
   }

   .item {
     margin-bottom: 3px;
   }

   .items_text {
     margin-left: 10px;
   }

   .item_text {
     width: 100px;
   }

   .sort_contents {
     margin-left: 50px;
   }

   .sort_content {
     width: 100px;
   }

   #search-bar {
     width: 80vw;
     margin-left: auto;
     margin-right: auto;
     margin-top: 30px;
   }

   .imgg {
     width: 20vw;
     height: 15vw;
     padding-right: 0px;
   }

   .item h2 {
     font-size: 15px;
     color: #262626;
   }

   .item h3 {
     font-size: 13px;
     color: #818181;
     margin-top: auto;
     margin-bottom: auto;
   }

   .sort_by h2 {
     font-size: 15px;
     color: #575757;
   }

   .sort_by h3 {
     font-size: 12px;
     color: #575757;
     margin-bottom: 4px;
   }
 }

 @media (max-width: 550px) {

  img.card-part-img{
    width: 90px;
    height: 72px;
  }
  
  .items_text {
    margin-left: 10px;
  }

  .item_text {
    width: 70px;
  }

  .sort_contents {
    margin-left: 50px;
  }

  .sort_content {
    width: 70px;
  }
 }


