:root {
    --background-color: #F4F7FE;
}

body {
    display: grid;
    justify-content: center;
    grid-template-columns: auto;
    background-color: var(--background-color);
}

/*the h2 settings in every item, which is every set in the set list.*/
.item h2 {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    line-height: 29px;
    display: flex;
    align-items: center;
    color: #262626;
}

/*hover effect on the light/dark-mode buttons*/
:hover.settings-button-section{
  border-radius: 11px ;
  box-shadow: 0 0 10px 1px #da7685;
  border: 1px solid #da7685;
}

/*hover settings button effect*/
:hover#settings-button{
  background-color: rgb(224, 224, 224);
  transition: 0.3s ease;
  transform: translate3d(0,0,10px);
  z-index: 1;  
}

/*light/dark-mode buttons*/
.darkmode{
  width: 130px;
  height:102px;
  border:none;
  position:absolute;
  background-color: unset;
  cursor: pointer;
  stroke-dasharray: 150 480;
  stroke-dashoffset: 150;
}

.goog-te-combo{
  cursor: pointer;
}

a {
    text-decoration: none;
}

.item a {
    text-decoration: none;
    color: #262626;
}
/*the h3 settings in every item*/
.item h3 {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 26px;
    display: flex;
    align-items: center;
    color: #818181;
    margin-top: auto;
    margin-bottom: auto;
}
/*effect when u hold over a set*/
:hover.item{
    background-color: rgb(224, 224, 224);
    border: rgb(224, 224, 224) 1px solid;
    transition: 0.3s ease;
    transform: translateX(14px);
    z-index: 1;
}

/*set settings in the set list*/
.item {
    margin-left: 9.5px;
    max-width: 932px;
    background-color: white;
    border: solid 1px white;
    border-radius: 6px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 7px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.041), 0 1px 7px 0 rgba(0, 0, 0, 0.11);
}

.items_text {
    margin-left: 50px;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.item_text {
    width: 220px;
    display: flex;
    flex-direction: row;
    justify-content: left;
}

.imgg {
    width: 150px;
    height: 100px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
}

.img_date {
    width: 27px;
    height: 27px;
}

.name_id {
    display: flex;
    flex-direction: column;
    justify-content: left;
}

/*contains all items*/
.container {
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.text {
    font-size: 30px;
    border: solid 1px black;
    padding: 20px;
}


.text2 {
    padding-left: 30px;
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 150px;
}


/* For the pages system */
.next_page {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    margin-bottom: 50px;
    margin-top: 10px;
    margin-right: 10px;
}

.numbers {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 35px;
    overflow: hidden;
}

.number {
    padding: 5px;
    display: flex;
    align-items: center;
    text-align: center;
    
    width: 35px;
    height: 35px;
}

.inside_number {
    font-size: 21px;
    background-color: var(--background-color);
    color: #818181;
    border: none;
    padding: 11px;
    text-align: center;
    
    cursor: pointer;
    border: var(--background-color) solid 1px;
    border-radius: 10px;
}

.inside_number:hover {
    background-color: #dee1e9;
    border-color: #dee1e9;
}

#current_number {
    background-color: #DB475D;
    font-size: 21px;
    color: white;
    border: none;
    padding: 11px;
    cursor: pointer;
    border: #DB475D solid 1px;
    border-radius: 10px;
}

#current_number:hover {
    background-color: #be3449;
    border-color: #be3449;
}

.arrows {
    height: 35px;
    align-items: center;
    overflow: hidden;
}

.arrow {
    background-color: white;
    border: white solid 1px;
    border-radius: 3px;
    padding: 6px;
}

.arrow:hover {
    background-color: rgb(224, 224, 224);
    border-color: rgb(224, 224, 224);
}
/*for the sort by system, (year and name)*/
.sort_by {
    z-index: 3;
    top: 80px;
    display: flex;
    flex-direction: row;
    margin-left: 10px;
    margin-top: 30px;
    align-items: center;
    background-color: var(--background-color);
    border: var(--background-color) solid 1px;
}

.sort_by h2 {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    line-height: 29px;
    display: flex;
    align-items: center;
    color: #575757;
}

.sort_by h3 {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    line-height: 29px;
    display: flex;
    align-items: center;
    color: #575757;
    margin-bottom: 4px;
}

.sort_contents {
    margin-left: 150px;
    display: flex;
    flex-direction: row;
}

.sort_content {
    display: flex;
    flex-direction: row;
    width: 220px;
    align-items: center;
}

/*search bar follows and stays above the rest*/
.scroll {
    z-index: 4;
    position: sticky;
    top: -40px;
    background-color: var(--background-color);
    border: var(--background-color) solid 1px;
    box-shadow: 0 6px 4px -4px rgba(73, 73, 73, 0.247);
}

/*the logo home button*/
.logo {
    margin-top: 5px;
    position: fixed;
    top: 50px;
    left: 50px;
}


/*for the arrow on the right edge of the item, making it bounce when hover*/
.item_arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 110px;
    border-left: solid 3px var(--background-color);
    width: 60px;
}


.bouncy-item-arrow{
    width: 80px;
    height: 110px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bouncy-item-arrow:hover {
    -webkit-animation: bounceright .3s alternate ease infinite;
    animation: bounceright .3s alternate ease infinite;
  }

@keyframes bounceright {
    from { -webkit-transform: translateX(0); }
    to   { -webkit-transform: translateX(6px); }
}

.item_arrow img {
    margin-top: auto;
    margin-bottom: auto;
}

/*question mark pop up*/
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-top: auto;
    margin-bottom: auto;
    height: 36px;
    z-index: 10;
  }
  
  /* The actual popup */
  .popup .popuptext {
    visibility: hidden;
    width: 200px;
    height: 260px;
    background-color: white;
    color: black;
    text-align: center;
    line-height: 20px;
    border-radius: 6px;
    border: solid rgb(173, 162, 162) 2px;
    position: absolute;
    z-index: 10;
    padding: 5px 10px;
    box-shadow: 2px 2px 4px lightgrey;
    margin-top: 30px;
    margin-left: -175px;
    margin-bottom: 8px;
    font-family: 'Nunito';
    font-style: normal;
  }

  /* Toggle this class - hide and show the popup */
  .popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;

  }

  .top-section {
    position: absolute;
    top: 35px;
    right: 5vw;
  }
  
  /*the drop down/settings button, it's the same button and drop down as for the home page, index, so therefor it's almost the same code*/ 
  .dropdown-wrapper {
    margin-top: 15px;
    z-index: 5;
    right: 0;
    width: 328px;
    height: 72px;
    position: relative;
    display: inline-block;
  }
  
  #settings-button {
    position: absolute;
    right: 0;
    border: none;
    width: 72px;
    height: 72px;
    border-radius: 50px;
    background: #FFFFFF;
    box-shadow: 0px 3px 15px 1px rgba(0, 0, 0, 0.07);
    cursor: pointer;
  }
  
  img.settings-gear {
    margin: auto;
    width: 31px;
    height: 31px;
  }
  
  .dropdown-content {
    position: absolute;
    top: 90px;
    width: 328px;
    height: 419px;
    background-color: #ffffff;
    border-radius: 19px;
    box-shadow: 0px 3px 15px 1px rgba(0, 0, 0, 0.07);
    overflow: hidden;
    visibility: hidden;
    opacity: 0;
    transition: 0.25s;
    z-index: 6;
  }
  
  
  #settings-heading {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
    padding: 21px;
    text-align: center;
    letter-spacing: 0.015em;
    color: #575757;
  }
  
  .settings-header {
    border-bottom: 2px solid #DDE2EF;
  }
  
  .settings-content {
    padding: 21px;
  }
  
  #settings-subtitle-app {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #575757;
  }
  
  #settings-subtitle-lang {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #575757;
  }
  
  #appearance {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #818181;
  }
  
  .settings-breakline {
    margin: 15px 0px 15px;
    width: 286px;
    height: 1px;
    background-color: #DDE2EF;
  }
  
  .settings-button-wrapper {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    gap: 10px 20px;
  }
  
  #settings-grid-item-1 {
    grid-row: 1;
    grid-column: 1;
  }
  
  .settings-grid-item-2 {
    grid-row: 2;
    grid-column: 1;
  }
  
  #settings-grid-item-3 {
    grid-row: 1;
    grid-column: 2;
    background-color: #454545;
  }
  
  .settings-grid-item-4 {
    grid-row: 2;
    grid-column: 2;
  }
  
  .settings-button-section {
   
    position: relative;
    width: 130px;
    height: 102px;
    background: #F4F7FE;
    border: 1px solid #DDE2EF;
    border-radius: 11px;
  
  }
  
  #language {
    margin-top: 21px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #818181;
  }
  
  .inner-box {
    
    position: absolute;
    width: 104px;
    height: 72px;
    border-radius: 11px 0px 10px;
    right: 0;
    bottom: 0;
  }
  
  #light-box {
    background: #FFFFFF;
  }
  
  #dark-box {
    background: #161616;
  }
  .inner-text {
    z-index: 1;
    position: absolute;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    top: 43px;
    left: 40px;
  }
  
  #light-text {
  
    color: #000000;
  }
  
  #dark-text {
    color: #FFFFFF;
  }

  .dropdown-button {
    display: block;
  }
  
  .dropdown-wrapper.active .dropdown-content {
    visibility: visible;
    opacity: 1;
  }

  .darkmode{
    width: 130px;
    height:102px;
    border:none;
    position:absolute;
    background-color: unset;
  }
  